/* === HEADER BASE === */
.container-header {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(199, 198, 198);
    padding: 8px 25px;
}

.dark .container-header {
    background-color: #2a2a2a;
}

.container-info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

#container-actionIcons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
}

#mode {
    width: 24px;
    height: 24px;
}

.dark #mode {
    filter: brightness(0) invert(1);
}

.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.container-logo h1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;

}

.logo-light {
    display: inline-block;
}

.logo-dark {
    display: none;
}

html.dark .logo-light {
    display: none !important;
}

html.dark .logo-dark {
    display: inline-block !important;
}

.container-logo img.logo-header {
    width: 40px;
    border-radius: 50%;
}

.container-logo h1 {
    font-weight: bold;
}