
.title-estudiantes {
  font-size: 2rem;
  font-weight: 600;
  color: #1a1a1a;
  margin: 20px 0px;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap; /* ❗ Previene que el botón se baje en pantallas pequeñas */
  position: relative;
}

.dark .title-estudiantes {
  color: #f9fafb;
  border-bottom: 2px solid #4b5563;
}

.btn-registrar-estudiante {
  padding: 6px 12px;
  background-color: #10b981; /* verde */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}

.btn-registrar-estudiante:hover {
  background-color: #059669;
}

.dark .btn-registrar-estudiante {
  background-color: #047857;
  color: #f9fafb;
}

.dark .btn-registrar-estudiante:hover {
  background-color: #065f46;
}

.btn-volver-estudiante {
  padding: 6px 12px;
  background-color: var(--card-bg);
  border: 1px solid #ccc;
  border-radius: 6px ;
  font-family: inherit !important;
  font-size: 14px;
  color: #111827;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 33px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-right: 0 !important;
    
}

.btn-volver-estudiante:hover {
    background-color: #f3f4f6;
}

.dark .btn-volver-estudiante {
    color: #111827;
    border-color: #4b5563;
    background-color: var(--card-bg);
}

.dark .btn-volver-estudiante:hover {
    background-color: #898a8d;
}


.acciones-header {
  display: flex;
  align-items: center;
  /* gap: 8px; */
  position: relative;
}

.icono-menu {
  width: 24px;
  cursor: pointer;
  filter: brightness(0);
}

.dark .icono-menu {
  filter: brightness(0) invert(1);
}

.dropdown-opciones {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 8px 0;
  z-index: 100;
  width: 220px;
  font-size: 16px;
}

.dropdown-opciones li {
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-opciones li:hover {
  background-color: #f3f4f6;
}

/* Modo oscuro */
.dark .dropdown-opciones {
  background-color: #1f2937;
  color: #f3f4f6;
  border-color: #4b5563;
}

.dark .dropdown-opciones li:hover {
  background-color: #374151;
}

.btn-volver-estudiante,
.btn-registrar-estudiante {
  font-family: inherit; /* o la que estés usando, por ejemplo: 'Inter', sans-serif */
  font-size: 14px;
  font-weight: 600; /* uniforme */
  line-height: 1.5;
}


@media (max-width: 640px) {
    
    .btn-volver-estudiante {
      display: none;
    }
    .btn-registrar-estudiante {
      display: none;
    }
}
